name: Autograding

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  autograde:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout student repo
      - name: Checkout student submission
        uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      # 3. Clone Test
      - name: Clone GitLab tester
        run: |
          git clone https://oauth2:${GITLAB_TOKEN}@gitlab.com/42bangkok-classroom/typescript-oop-quiz-3-sec35-tester.git tester
        env:
          GITLAB_TOKEN: ${{ secrets.OOP_CLASSROOM_GITLAB_TOKEN }}
      # 4. Setup files
      - name: setup files
        run: |
          echo "=== Setup files ==="
          tree ./tester
          cp -r tester/.github/* .github/
          # Copy test files and fixtures
          rsync -av \
            --include="*/" \
            --include="*.test.ts" \
            --include="__fixtures__/**" \
            --exclude="*" \
            tester/src/ src/
          cp tester/package.json .
          cp tester/jest.config.js .
          cp tester/eslint.config.js .
          rm -r tester
          echo "=== Finish Setup files ==="
          tree ./src/
      # 4. Install dependencies
      - name: Install dependencies
        run: npm install
      # 5. Autograding action (lint will run automatically before each test)
      - name: Autograding
        uses: education/autograding@v1